@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



#I {
  font-family: "Dancing Script", serif;
  text-align: center;
  margin-top: 4rem;
  width: 100%;
  
  font-weight: bold;
  font-size: 80px; 
  height: 6rem;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

#name {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333; 
}

.t {
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
}

.t:hover {
  opacity: 1;
  font-size: 1.2rem;
  font-weight: bold;
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0; 
}
