@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.headerim {
    height: 100vh;
    width: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(139, 69, 19, 0.5); 
}
@media (max-width: 368px) {
    #headerim{
     height: 2rem;
    }
 }

 

#C {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.intro { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    margin-left: 6rem;
    font-weight: bolder;
    border: 10px solid black;
    width: 30rem;
    text-align: center;
    backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
   .intro{
    margin-right: 2rem;
   }
}

.intro h1 {
    font-weight: bold;
    font-size: 5vh;
    font-family: "Pacifico", sans-serif;
}
