.headerim {
    height: 104.1vh;
    width: 100%;
    object-fit: cover;
}

#C {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.intro { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    margin-left: 6rem;
    font-weight: bolder;
    border: 10px solid black;
    width: 30rem;
    text-align: center;
    backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
   .intro{
    margin-right: 2rem;
   }
}

.intro h1 {
    font-weight: 100;
    font-size: 7vh;
}
